@import url(https://fonts.googleapis.com/css?family=Lato|Yeseva+One);

@font-face {
	font-family: 'Gentium';
	src: url('../fonts/genbasr-webfont.eot');
	src: url('../fonts/genbasr-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/genbasr-webfont.woff2') format('woff2'),
	url('../fonts/genbasr-webfont.woff') format('woff'),
	url('../fonts/genbasr-webfont.ttf') format('truetype'),
	url('../fonts/genbasr-webfont.svg#gentium_basicregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
body{
	font: 16/1.5 Gentium, Lato, 'Yeseva One', sans-serif;
	color: #FFF;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	text-decoration: none;
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	color: #FFF;
	line-height: 58px;
	height: 58px;
	padding: 0 55px;
	border-bottom: 1px solid #fff;
	background-color:  rgba(255, 255, 255, 0.28);

}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	border-bottom: 1px solid #000;
	background-color:  rgba(0, 0, 0, 0.7);
}
.ba-button:active {
	position: relative;
	top: 1px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	max-width: 1250px;
	padding-left: 40px;
	padding-right: 40px;
}
/* PROMO */
.ba-promo {
	background: #eee url(../img/promo/bg-promo.jpg) 50% no-repeat;
	background-size: cover;
	padding-bottom: 142px;
}
.ba-header {
	background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
	position: fixed;
	width: 100%;
	// z-index: 10;
}
.ba-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ba-menu li {
	float: left;
}
.ba-menu a {
	display: block;
	font-family: Gentium, sans-serif;
	color:  #ffffff;
	font-size: 21px;display: block;
	font-weight: 700;
	padding-top: ;
	padding: 44px 27px 37px;
	border-top: 4px solid transparent;
}
.ba-menu a:hover {
	border-top: 4px solid rgba(255,255,255,.7);
}
.ba-social {
	margin-top: 55px;
}
.fa {
	color:  #dab33e;
	font-size: 21px;
	margin-left: 15px;
}
.ba-promo__text {
	max-width: 970px;
	margin: 0 auto;
	padding-top: 210px;
	line-height: 1.35;
	font-family: 'Yeseva One', serif ;
	font-size: 90px;
	font-weight: 400;
	padding-bottom: 78px;
	background: url(../img/promo/decoration.png) no-repeat 50% 100%;
}
.ba-button--promo {
	margin: 20px 10px 0 10px;
}
/* ABOUT */
.ba-about {
	background: linear-gradient(to left, rgba(0,0,0,.1), transparent),  url(../img/about/bg_about.jpg) 50% no-repeat;
	background-size: cover;
	font-family: Lato, sans-serif;
	color:  #4c4c4c;
	padding-top: 65px;
	padding-bottom: 20px;
}
.ba-about-post {
	max-width: 409px;
	margin-left: 75px;
}
.ba-about-post__title {
	font-family: YesevaOne, serif;
	color:  #cc9900;
	font-size: 40px;
	background: url(../img/about/divider_about.png) 50% 100% no-repeat;
	padding-bottom: 50px;
	margin-bottom: 15px;
}
.ba-about-post__text  {
	line-height: 1.5;
	margin: 10px 0;
}
.ba-about-post__img {
	margin-top: 42px;
	margin-right: 58px;
}
.ba-about-post-img {
	margin-left: 37px;
}
/* INGRIDIENTS */
.ba-ingredients {
	background: url(../img/ingr/bg_ingridients.jpg) 50% no-repeat;
	background-size: cover;
	padding: 100px 0;
}
.ba-ingredients-post {
	max-width: 570px;
	background: rgba(0,0,0,.6);
	padding: 70px 70px;
}
.ba-ingredients__title {
	font-family: YesevaOne, serif;
	font-size: 40px;
	margin: 0;
	padding-bottom: 53px;
	background: url(../img/ingr/divider_ing.png) 50% 100% no-repeat;
}
.ba-ingredients-post p {
	line-height: 1.5;
	margin-top: 12px;
	margin-bottom: 70px;
}
.ba-ingredients-img-block {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
/* CARTE */
.ba-carte {
	color: #4c4c4c;
	background: linear-gradient(to bottom right, rgba(32,90,91,.1), transparent), url(../img/carte/background-carte.jpg) 50% no-repeat;
	background-size: cover;
	padding: 70px 180px 45px;
}
.ba-carte-block {
	max-width: 440px;
	margin-bottom: 75px;
}
.ba-carte-block__title {
	font-family: YesevaOne, serif;
	color:  #cc9900;
	font-size: 40px;
	text-align: center;
	padding-bottom: 35px;
	margin-bottom: 20px;
	background: url(../img/carte/divider_carte.png) 50% 100% no-repeat;
}
.ba-carte-block__box {
	border-bottom: 1px solid rgba(200,159,45,.5);
	padding: 0 10px;
}
.ba-carte-block__subtitle {
	font-family: YesevaOne, serif;
	color:  #c89f2d;
	font-size: 23px;
	display: inline-block;
	margin-bottom: 8px;
	margin-top: 10px;
}
.ba-carte-block__price {
	float: right;
	font-family: YesevaOne, serif;
	color:  #c89f2d;
	font-size: 23px;
	margin-top: 13px;
	font-weight: 700;
}
.ba-carte-block p {
	padding: 10px 0 0 10px;
	margin-bottom: 20px;
	margin-top: 0;
}
.ba-carte-block__box--special {
	position: relative;
	border: 1px solid rgba(200,159,45,.5);
}
.ba-carte-block__box--special p {
	border-top: 1px solid rgba(200,159,45,.5);
	padding-left: 0;
}
.ba-carte-block__box--special:before {
	content: 'Spesial';
	position: absolute;
	right: 0;
	top: -18px;
	display: inline-block;
	padding: 0 3px;
	background: #c89f2d;
	color: #fff;
}
/* .ba-grid > [class*="ba-width-"] {
    float: left;
    padding-left: 160px;
}

.ba-grid {
    margin-left: -160px;
} */
/* REVIEW */
.ba-review {
	background: #ddd url(../img/review/bg-review.jpg) 50% no-repeat;
	background-size: cover;
	padding: 100px 0 90px;
}
.ba-review-text {
	position: relative;
	max-width: 770px;
	margin: 0 auto;
	text-align: center;
	background: rgba(0,0,0,.8);
	padding: 40px 70px 70px;
}
.ba-review-text__title {
	font-family: YesevaOne;
	font-size: 40px;
	background: url(../img/review/divider-rev.png) 50% 100% no-repeat;
	padding-bottom: 37px;
	margin-bottom: 10px;
}
.fa-quote-left {
	position: absolute;
	color: #FFF;
	top: 30%;
	left: 20px;
	font-size: 30px;
}
.ba-review-text p {
	font-family: Gentium, serif;
	color:  #dee0e0;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.75;
	letter-spacing: 1px;
}
/* RESERV */
.ba-reserv {
	background: url(../img/about/bg_about.jpg) 50% no-repeat;
	background-size: cover;
	padding: 100px 0;
}
.ba-reserv-text {
	max-width: 430px;
	text-align: center;
	color:  #4c4c4c;
	margin: 0 auto;
}
.ba-reserv-text__title {
	font-family: YesevaOne, serif;
	color:  #cc9900;
	font-size: 40px;
	background: url(../img/carte/divider_carte.png) 50% 100% no-repeat;
	padding-bottom: 40px;
	margin-top: 0;
	line-height: 0.9;
}
.ba-reserv-text p {
	line-height: 1.65;
	letter-spacing: 0.7px;
}
.ba-form {
	max-width: 430px;
	margin-top: 28px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}
.ba-form label {
	display: block;
	font-family: Lato, sans-serif;
	color:  #c9a131;
	font-size: 16px;
	text-align: left;
}
.ba-form input {
	display: block;
	margin-top: 7px;
	padding: 5px 15px;
	width: 100%;
	margin-bottom: 10px;
}
.ba-form-select {
	color:  #B1A9B1;
	padding: 7px 15px;
	margin-top: 9px;
	font-size: 14px;
	width: 100%;
}
.ba-button--form {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	background: #c89f2d;
	margin-top: 18px;
}
@media (max-width: 768px) {
	.ba-menu, .ba-social {
	display: none;
	}
	.ba-about-post, .ba-ingredients-post {
		float: none;
		margin: 0 auto;
	}
}
@media (max-width: 480px) {
	.ba-promo__text {
		font-size: 50px;
	}
	.ba-about-post-img {
	margin-left: 0;
	}
	.ba-ingredients-post {
		padding: 70px 30px;
	}
	.ba-ingredients-post img {
		margin-right: 0;
		float: none;
	}
}
