@import url(https://fonts.googleapis.com/css?family=Lato|Yeseva+One);

@font-face {
	font-family: 'Gentium';
	src: url('../fonts/genbasr-webfont.eot');
	src: url('../fonts/genbasr-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/genbasr-webfont.woff2') format('woff2'),
	url('../fonts/genbasr-webfont.woff') format('woff'),
	url('../fonts/genbasr-webfont.ttf') format('truetype'),
	url('../fonts/genbasr-webfont.svg#gentium_basicregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
body{
	font: 16/1.5 Gentium, Lato, 'Yeseva One', sans-serif;
	color: #FFF;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	text-decoration: none;
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	color: #FFF;
	line-height: 58px;
	height: 58px;
	padding: 0 55px;
	border-bottom: 1px solid #fff;
	background-color:  rgba(255, 255, 255, 0.28);

}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	border-bottom: 1px solid #000;
	background-color:  rgba(0, 0, 0, 0.7);
}
.ba-button:active {
	position: relative;
	top: 1px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	max-width: 1210px;
	padding-left: 20px;
	padding-right: 20px;
}
/* PROMO */
.ba-promo {
	background: #eee url(../img/promo/bg-promo.jpg) 50% no-repeat;
	background-size: cover;
	padding-bottom: 142px;
}
.ba-header {
	background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
	position: fixed;
	width: 100%;
}
.ba-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ba-menu li {
	float: left;
}
.ba-menu a {
	display: block;
	font-family: Gentium, sans-serif;
	color:  #ffffff;
	font-size: 21px;display: block;
	font-weight: 700;
	padding-top: ;
	padding: 44px 27px 37px;
	border-top: 4px solid transparent;
}
.ba-menu a:hover {
	border-top: 4px solid rgba(255,255,255,.7);
}
.ba-social {
	margin-top: 55px;
}
.fa {
	color:  #dab33e;
	font-size: 21px;
	margin-left: 15px;
}
.ba-promo__text {
	max-width: 970px;
	margin: 0 auto;
	padding-top: 210px;
	line-height: 1.35;
	font-family: 'Yeseva One', serif ;
	font-size: 90px;
	font-weight: 400;
	padding-bottom: 78px;
	background: url(../img/promo/decoration.png) no-repeat 50% 100%;
}
.ba-button--promo {
	margin: 20px 10px 0 10px;
}
/* ABOUT */
.ba-about {
	background: linear-gradient(to left, rgba(0,0,0,.1), transparent),  url(../img/about/bg_about.jpg) 50% no-repeat;
	background-size: cover;
	font-family: Lato, sans-serif;
	color:  #4c4c4c;
	padding-top: 65px;
	padding-bottom: 20px;
}
.ba-about-post {
	max-width: 409px;
	margin-left: 75px;
}
.ba-about-post__title {
	font-family: YesevaOne, serif;
	color:  #cc9900;
	font-size: 40px;
	background: url(../img/about/divider_about.png) 50% 100% no-repeat;
	padding-bottom: 50px;
	margin-bottom: 15px;
}
.ba-about-post__text  {
	line-height: 1.5;
	margin: 10px 0;
}
.ba-about-post__img {
	margin-top: 42px;
	margin-right: 58px;
}
.ba-about-post-img {
	margin-left: 37px;
}
/* INGRIDIENTS */
.ba-ingredients {
	background: url(../img/ingr/bg_ingridients.jpg) 50% no-repeat;
	background-size: cover;
	padding: 100px 0;
}
.ba-ingredients-post {
	max-width: 570px;
	background: rgba(0,0,0,.6);
	padding: 70px 70px;
}
.ba-ingredients__title {
	font-family: YesevaOne, serif;
	font-size: 40px;
	margin: 0;
	padding-bottom: 53px;
	background: url(../img/ingr/divider_ing.png) 50% 100% no-repeat;
}
.ba-ingredients-post p {
	line-height: 1.5;
	margin-top: 12px;
	margin-bottom: 70px;
}
.ba-ingredients-post img {
	margin-right: 10px;
}
